= render partial: 'shared/header', :locals => { :active => '' }
.main-container.bg-white
  - flash.each do |key, value|
    .row.justify-content-center.text-center.mb-3
      .col-12
        .alert.alert-danger.mt-3{:role => "alert"}
          %i.icon-shield
          %span
            = value
  %section.space-sm.mt-0.pt-0
    .bg-white.mb-5.pb-5
      .container
        -if @shop.needs_help
          .row.justify-content-center.text-center.mb-3.mt-2
            .col-12.col-md-10.col-lg-10.text-center.mb-3
              .alert.alert-info.text-smalls{:role => "alert"}
                %div
                  %i.icon-shield
                  Need helping writing professional, unique page titles and meta descriptions? 
                %div
                  Having unique handwritten page  title and meta descriptions that are SEO friendly - will make your Google Listing stand out, and improve CTRs to your store. I can help you write these meta tags within a couple of days. There is no extra charges for this.             
                  = link_to 'Click this link if you need help writing SEO copy that will help you sell and convert.', shop_needs_seo_help_path(@shop)
        .row.justify-content-center.text-center.section-intro.mt-0
          .col-12.col-md-9.col-lg-8
            - if @tests.count == 0 || @shop.created_at + 60.minutes > Time.now
              %img.navbar-brand-img{:alt => "BCC", :src => "https://bccfinal.s3.ap-south-1.amazonaws.com/uploading.gif", :style => "max-height: 1.4rem;"}/
              %span.title-decorative Insights from analysing GSC
            - else
              %span.title-decorative Insights from analysing GSC
            %h2.display-5= @viewing
            %span.lead Some keywords rank for different pages in different positions on Google. We have included included keywords that have atleast 100 impressions.
          .col-12
            %table.table.table-hover.align-items-center.table-borderless.mb-5.pb-5.mt-1
              %thead
                %tr
                  %th.text-left{:scope => "col"}
                  %th.text-right{:scope => "col"} Impressions
                  %th.text-right{:scope => "col"} Clicks
                  %th.text-right{:scope => "col"} CTR
                  %th.text-right{:scope => "col"} Position
                  %th{:scope => "col"}
              %tbody{"data-controller" => "realtime-insight-partial", "data-realtime-partial-key" => "insights/list"}
                = render partial: 'shops/keywords/keyword', collection: @keywords
