<p id="notice"><%= notice %></p>

<h1>Shops</h1>
<%= link_to "Delete Everything", delete_everything_admin_shops_path %>

<table class="table table-hover align-items-center table-borderless">
  <thead>
    <tr>
      <th scope="col">Shop</th>
      <th scope="col">Google</th>
      <th scope="col">Pages</th>
      <th scope="col">Clicks</th>
      <th scope="col">created_at</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @shops.each do |shop| %>
      <tr class="bg-white">
        <th scope="row">
          <div class="media align-items-center">
            <div class="media-body">
              <%= link_to admin_shop_path(shop), { :class=>"" }, nil do %>
                <span class="h6 mb-0"><%= shop.shopify_domain %>
                  <span class="badge badge-secondary"><%= shop.email %></span>
                </span>
              <% end %>
              <span class="text-muted text-small"><%= shop.shopify_token %></span> ||
              <span class="text-muted text-small"><%= shop.domain %></span>
            </div>
          </div>
        </th>
        <td>
          <div class="media align-items-center">
            <div class="media-body">
              <span class="h6 mb-0"><%= shop.google_website %> ||
              <span class="badge badge-secondary"><%= shop.google_email %></span> ||
              </span>
              <span class="text-muted text-small"><%= shop.google_token %></span> ||
              <span class="text-muted text-small"><%= shop.google_refresh_token %></span>
            </div>
          </div>
        </td>
        <td><%= shop.pages.count %></td>
        <td><%= shop.clicks.count %></td>
        <td><%= fix_time(shop.created_at) %></td>
        <td><%= link_to 'Delete GSC Token', admin_shop_delete_gsc_path(shop), data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Reset Pages from GSC', admin_shop_reset_gsc_path(shop), data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Destroy', shop_path(shop), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <tr class="table-divider"></tr>
    <% end %>
  </tbody>
</table>
