%p#notice= notice

%p
  %b Url:
  = @page.url
%p
  %b Testing:
  = @page.testing
%p
  %b Content:
  = @page.content
%p
  %b Shop:
  = @page.shop_id
%p
  %b Slug:
  = @page.slug
%p
  %b Expected ctr:
  = @page.expected_ctr
%p
  %b Handle:
  = @page.handle
%p
  %b Shopify page type:
  = @page.shopify_page_type

= link_to 'Edit', edit_page_path(@page)
\|
= link_to 'Back', pages_path
