<% cache page do %>
  <tr class="bg-white">
    <th scope="row">
      <div class="media align-items-center">
        <div class="media-body">
          <%= link_to admin_shop_page_path(@shop, page), { :class=>"" }, nil do %>
            <span class="h6 mb-0"><%= page.url %></span>
          <% end %>
        </div>
      </div>
    </th>
    <td><%= page.impressions %></td>
    <td><%= page.impressions %></td>
    <td><%= page.ctr %></td>
    <td><%= page.position %></td>
    <td><%= link_to "Start Test", shop_page_path(@shop, page) %></td>
  </tr>
  <tr class="table-divider"></tr>
<% end %>