<% cache test do %>
  <% if test.is_test_over %>
    <tr class="bg-secondary">
      <th scope="row">
        <%= link_to admin_shop_page_test_path(@shop, test.page, test), { :class=>"media align-items-center" }, nil do %>
          <div class="media-body">
            <span class="h6 mb-0"><%= test.page.url %></span>
            <p class="mt-0 mb-0">
              <span class="text-muted text-small"><i class="icon-calendar mr-1"></i>Test Started: <%= fix_time(test.starting_date) %></span> |
              <span class="text-muted text-small"></i>Ended on: <%= fix_time(test.ending_date) %></span>
            </p>
            <span class="badge badge-secondary">Test Finished</span>
          </div>
        <% end %>
      </th>
      <% if test.four_week_result_clicks %>
        <td>
          <% if test.four_week_result_clicks.include?("green") %>
            <span class="text-green">
              <i class="icon-arrow-up"></i>
              <%= test.four_week_result_clicks.to_i %> 
            </span>
          <% else %>
            <span class="text-red">
              <i class="icon-arrow-down"></i>
              <%= test.four_week_result_clicks.to_i %> 
            </span>
          <% end %>
        </td>
        <td>
          <% if test.four_week_result_impressions.include?("green") %>
            <span class="text-green">
              <i class="icon-arrow-up"></i>
              <%= test.four_week_result_impressions.to_i %> 
            </span>
          <% else %>
            <span class="text-red">
              <i class="icon-arrow-down"></i>
              <%= test.four_week_result_impressions.to_i %> 
            </span>
          <% end %>
        </td>
        <td>
          <% if test.four_week_result_ctr.include?("green") %>
            <span class="text-green">
              <i class="icon-arrow-up"></i>
              <%= test.four_week_result_ctr.to_i %>% 
            </span>
          <% else %>
            <span class="text-red">
              <i class="icon-arrow-down"></i>
              <%= test.four_week_result_ctr.to_i %>% 
            </span>
          <% end %>
        </td>
        <td>
          <% if test.four_week_result_position.include?("green") %>
            <span class="text-green">
              <i class="icon-arrow-up"></i>
              <%= test.four_week_result_position.to_i %>% 
            </span>
          <% else %>
            <span class="text-red">
              <i class="icon-arrow-down"></i>
              <%= test.four_week_result_position.to_i %>% 
            </span>
          <% end %>
        </td>
      <% else %>
        <td>
          <span class="">
            -
          </span>
        </td>
        <td>
          <span class="">
            -
          </span>
        </td>
        <td>
          <span class="">
            -
      
          </span>
        </td>
        <td>
          <span class="">
            -
     
          </span>
        </td>
      <% end %>
    </tr>
    <tr class="table-divider"></tr>
  <% else %>
    <tr class="bg-white">
      <th scope="row">
        <%= link_to admin_shop_page_test_path(@shop, test.page, test), { :class=>"media align-items-center" }, nil do %>
          <div class="media-body">
            <span class="h6 mb-0"><%= test.page.url %></span>
            <p class="mt-0 mb-0">
              <span class="text-muted text-small"><i class="icon-calendar mr-1"></i>Test Started: <%= fix_time(test.starting_date) %></span> |
              <span class="text-muted text-small"></i>Ending on: <%= fix_time(test.ending_date) %></span>
            </p>
            <span class="badge badge-secondary">Ongoing</span>
          </div>
        <% end %>
      </th>
      <% if test.four_week_result_clicks %>
        <td>
          <% if test.four_week_result_clicks.include?("green") %>
            <span class="text-green">
              <i class="icon-arrow-up"></i>
              <%= test.four_week_result_clicks.to_i %> 
            </span>
          <% else %>
            <span class="text-red">
              <i class="icon-arrow-down"></i>
              <%= test.four_week_result_clicks.to_i %> 
            </span>
          <% end %>
        </td>
        <td>
          <% if test.four_week_result_impressions.include?("green") %>
            <span class="text-green">
              <i class="icon-arrow-up"></i>
              <%= test.four_week_result_impressions.to_i %> 
            </span>
          <% else %>
            <span class="text-red">
              <i class="icon-arrow-down"></i>
              <%= test.four_week_result_impressions.to_i %> 
            </span>
          <% end %>
        </td>
        <td>
          <% if test.four_week_result_ctr.include?("green") %>
            <span class="text-green">
              <i class="icon-arrow-up"></i>
              <%= test.four_week_result_ctr.to_i %>% 
            </span>
          <% else %>
            <span class="text-red">
              <i class="icon-arrow-down"></i>
              <%= test.four_week_result_ctr.to_i %>% 
            </span>
          <% end %>
        </td>
        <td>
          <% if test.four_week_result_position.include?("green") %>
            <span class="text-green">
              <i class="icon-arrow-up"></i>
              <%= test.four_week_result_position.to_i %>% 
            </span>
          <% else %>
            <span class="text-red">
              <i class="icon-arrow-down"></i>
              <%= test.four_week_result_position.to_i %>% 
            </span>
          <% end %>
        </td>
      <% else %>
        <td>
          <span class="">
            -
          </span>
        </td>
        <td>
          <span class="">
            -
          </span>
        </td>
        <td>
          <span class="">
            -
      
          </span>
        </td>
        <td>
          <span class="">
            -
     
          </span>
        </td>
      <% end %>
    </tr>
    <tr class="table-divider"></tr>
  <% end %>
<% end %>